# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/
myMongoCredentials.js

# --------------------
# App Files
# --------------------
build/
server/appData/schema.json
server/appData/schema.graphql
